# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Broker.System.Covers.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\seantal\source\repos\Broker.System.Covers\Broker.System.Covers\.idea\.idea.Broker.System.Covers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
